:root {
    --color-black: #000;
    --color-white: #fff;
    --color-grey: #e0e0e0;
    --color-green: #66BB6A;
    --color-red: #EF5350;
    --color-blue: #42A5F5;
}

* {
    padding: 0px;
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

.app-container {
    display: grid;
    row-gap: 50px;

    margin-bottom: 50px;
}