:root {
    --color-black: #000;
    --color-white: #fff;
    --color-grey: #e0e0e0;
    --color-green: #66BB6A;
    --color-red: #EF5350;
    --color-blue: #42A5F5;
}

.header-container {
    display: grid;
}

.header-title {
    font-size: 4em;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;

    color: var(--color-white);

    text-align: center;
}

.header-background {
    width: 100%;
    height: 100vh;

    filter: brightness(60%);

    object-fit: cover;
}